<div class="jumbotron">
  <h1>Welcome to the Dashboard!</h1>
</div>


<a href="/stations/new" class="btn btn-primary btn active " role="button" aria-pressed="true">New Station</a>
<a href="/stations" class="btn btn-primary btn active" role="button" aria-pressed="true">All Stations</a>
<br />
<br />
<a href="/trips/new" class="btn btn-primary btn active" role="button" aria-pressed="true">New Trip</a>
<a href="/trips" class="btn btn-primary btn active" role="button" aria-pressed="true">All Trips</a>
<br />
<br />
<a href="/weather/new" class="btn btn-primary btn active" role="button" aria-pressed="true">New Weather Report</a>
<a href="/weather" class="btn btn-primary btn active" role="button" aria-pressed="true">All Weather Reports</a>
